<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078560422223-kos9arfkndk4ar9187ubhq87un5mkdro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078560422223-kos9arfkndk4ar9187ubhq87un5mkdro</string>
	<key>API_KEY</key>
	<string>AIzaSyABFxJntr7Ts-K5WwOnDTiRf-Y3SZRisI4</string>
	<key>GCM_SENDER_ID</key>
	<string>1078560422223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.spotin.debug</string>
	<key>PROJECT_ID</key>
	<string>spot-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078560422223:ios:2ed91ff13ce3e3b7</string>
	<key>DATABASE_URL</key>
	<string>https://spot-debug.firebaseio.com</string>
</dict>
</plist>